<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='shortcut icon' href='/images/logo.ico' type='image/x-icon' />
  {{! FONT AWESOME CDN }}
  <script
    src='https://kit.fontawesome.com/2773baef5c.js'
    crossorigin='anonymous'
  ></script>

  {{! JQUERY CDN }}
  <script
    src='https://code.jquery.com/jquery-3.7.0.min.js'
    integrity='sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g='
    crossorigin='anonymous'
  ></script>

  {{! TAILWIND CSS Output stlesheet }}
  <link rel='stylesheet' href='/css/tw.css' />

  <title>Tech Jab IO</title>
</head>