<header class='flex justify-center items-center bg-light-100 shadow-md'>
  <div class='flex justify-between w-full max-w-screen-2xl my-3 mx-5'>
    <h1 class='text-2xl font-bold text-secondary-main flex items-center'>
      <a href='/'><img class='h-8 w-8 mr-3' src='/images/logo.svg' /></a>
      TECH JAB IO</h1>
    <nav
      class='flex items-center'
      aria-labelledby='primary-navigation-label'
      id='primary-navigation'
    >
      <span class='sr-only' id='primary-navigation-label'>Main Navigation</span>
      <ul class='list-none font-mono font-semibold text-lg flex gap-5'>
        <li>
          <a class='link focus-ring rounded-sm px-2 py-1' href='/'>Home</a>
        </li>
        <li>
          <a
            class='link focus-ring rounded-sm px-2 py-1'
            href='/dashboard'
          >Dashboard</a>
        </li>
        {{#if loggedIn}}
          <li>
            <button
              class='link focus-ring rounded-sm px-2 py-1'
              id='logout-button'
            >Logout &rightarrow;</button>
          </li>
        {{else}}
          <li>
            <a class='link focus-ring rounded-sm px-2 py-1' href='/login'>Login
              &rightarrow;</a>
          </li>
        {{/if}}
      </ul>
      <script src='/js/logout.js'></script>
    </nav>
  </div>
</header>