@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply text-info-main hover:text-info-hover;
  }
  .focus-ring {
    @apply shadow-none ring-0  ring-current hover:ring-2 focus:ring-2 active:ring-2;
  }
}

@layer utilities {
  .gradientBg {
    background-image: url(/images/hero-bg-light.svg);
    background-repeat: repeat;
  }

  /* width */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #88888880;
    border-radius: 9999px;
  }

  /* Handle on hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #494949;
  }
}
