<html class='gradientBg font-segoe h-full bg-light-100' lang='en'>
  {{> head}}
  <body>

    <header class='flex justify-center items-center bg-light-100 shadow-md'>
      <div class='flex justify-between w-full max-w-screen-2xl my-3 mx-5'>
        <h1 class='text-2xl font-bold text-secondary-main flex items-center'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            height='1em'
            viewBox='0 0 576 512'
          ><style>svg{fill:#494d55}</style><path
              d='M9.4 86.6C-3.1 74.1-3.1 53.9 9.4 41.4s32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 9.4 86.6zM256 416H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32s14.3-32 32-32z'
            /></svg>
          TECH JAB IO</h1>
        <nav
          class='flex items-center'
          aria-labelledby='primary-navigation-label'
          id='primary-navigation'
        >
          <span class='sr-only' id='primary-navigation-label'>Main Navigation</span>
          <ul class='list-none font-mono font-semibold text-lg flex gap-5'>
            <li>
              <a class='link focus-ring rounded-sm px-2 py-1' href='/'>Home</a>
            </li>
            <li>
              <a
                class='link focus-ring rounded-sm px-2 py-1'
                href='/dashboard'
              >Dashboard</a>
            </li>
            {{#if loggedIn}}
              <li>
                <button
                  class='link focus-ring text-blue-200 rounded-sm px-2 py-1'
                  href='/logout'
                >Logout &rightarrow;</button>
              </li>
            {{else}}
              <li>
                <a
                  class='link focus-ring rounded-sm px-2 py-1'
                  href='/login'
                >Login &rightarrow;</a>
              </li>
            {{/if}}
          </ul>
        </nav>
      </div>
    </header>
    <main class='mx-auto mt-3 max-w-screen-xl'>
      {{{body}}}
    </main>
    {{> footer}}
  </body>
</html>