<html class='gradientBg font-segoe h-full bg-light-100' lang='en'>
  {{> head}}
  <body>
    {{> navbar}}
    <main class='mx-auto mt-3 px-3 max-w-screen-xl'>
      {{{body}}}
    </main>
    {{> footer}}
  </body>
</html>