<h2
  class='text-3xl font-sans font-bold text-start indent-6 first-letter:text-4xl mb-4 underline underline-offset-2 decoration-dark-400 decoration-4'
>Most Recent Posts</h2>
<div class='grid grid-cols-1 gap-8 lg:grid-cols-4 px-8'>
  <section class='lg:col-span-3'>
    <div
      class='grid gap-5 grid-cols-1 grid-rows-[masonry] sm:grid-cols-2 lg:grid-cols-3'
    >
      {{#each posts}}
        {{> post}}
      {{/each}}
    </div>

    <div class='col-span-full mt-6 flex justify-end'>
      {{> pagination}}
    </div>
  </section>

  <section class='h-fit sticky top-5 px-5 py-3 rounded-lg bg-white'>
    <div class=''>
      <section>
        <h4 class='text-2xl font-bold text-center'>Welcome to Tech Jab
          <p class='inline text-3xl font-bold text-center font-consolas'>I0</p>
        </h4>
        <ul class='text-secondary-main my-5'>
          <li>A place to share your thoughts and ideas.</li>
          <li>A place to learn and grow.</li>
          <li>A place to connect with others.</li>
        </ul>
      </section>
      <section>
        <h4 class='text-xl font-semibold'>About The Stack</h4>
        <p class='text-sm text-secondary-main'>I have taken the route of staying
          on the server side mainly and to render all my pages using the MVC
          Pattern.</p>
        <ul>
          <li>(M) - MySQL w/sequelize as an ORM</li>
          <li>(E) - Express.js</li>
          <li>(H) - Handlebars.js</li>
          <li>(N) - Node.js</li>
        </ul>
        <p class='text-sm text-secondary-main'>I have also used Tailwind CSS for
          styling and a little bit of vanilla JavaScript for some of the
          functionality.</p>
      </section>
      <section class='flex justify-between'>
        <div class='flex justify-center items-center gap-3'>
          <a
            target='_blank'
            title='MySQL Server Download'
            href='https://dev.mysql.com/downloads/mysql/'
          >
            <i class='link fa-solid fa-database'></i>
          </a>
          <a target='_blank' title='Express.js' href='https://expressjs.com/'>
            <i class='link fa-brands fa-node-js'></i>
          </a>
          <a
            target='_blank'
            title='Handlebars.js'
            href='https://handlebarsjs.com/'
          >
            <i class='link fa-solid fa-h'></i>
          </a>
          <a
            target='_blank'
            title='Node.js Download'
            href='https://nodejs.org/en'
          >
            <i class='link fa-brands fa-node'></i>
          </a>
        </div>

        <a
          target='_blank'
          title='See Source Code Here'
          href='https://github.com/NateAyye/tech-jab-io-blog'
        >
          <i class='link fa fa-github'></i>
        </a>
      </section>
    </div>
  </section>
</div>