.navbar {
  position: relative;
  background-color: #1f2638;
  padding: 1rem 2rem;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.nav-link {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  color: #c1aeee;
  text-decoration: underline;
  text-decoration-color: #5d34bd;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.125rem;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  outline: #5d34bd77 solid 0.125rem;
  color: #bfc5f5;
  text-decoration-color: #4c5cb7;
  text-underline-offset: 0.25rem;
}

.nav-title {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: 600;
  color: #ccc;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-sm {
  border-radius: 0.2rem;
}

.rounded-lg {
  border-radius: 0.3rem;
}

.rounded-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.max-w-screen-sm {
  max-width: 640px;
}

.max-w-screen-md {
  max-width: 768px;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.max-w-screen-xl {
  max-width: 1280px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
